!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf8"}/
    %title= @title + ' | AdServer'
    %link{href: "/css/reset.css", rel: "stylesheet"}/
    %link{href: "/css/styles.css", rel: "stylesheet"}/
  %body
    %header
      %hgroup
        %h1 #{@title}
        %ul
          %a{:href => "/list"} List
          |
          %a{:href => "/new"} New

    #main
      = yield

      #debug
        %p The time is #{Time.now.strftime("%I:%M:%S %p")}.
        %p Sinatra version #{Sinatra::VERSION}.
    %footer
      %p
        %small
          %br/
          mattpedersen