!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf8"}/
    %title= @title + ' | AdServer'
    %link{href: "/css/bootstrap.css", rel: "stylesheet"}/
    %link{href: "/css/styles.css", rel: "stylesheet"}/
  %body
    #main
      %header
        %hgroup
          %h1.text-center #{@title}
          %br
          - if authorized?
            %ul.nav.nav-tabs
              %a.pull-left{:href => "/list"} List
              %a.pull-left{:href => "/new"} New
              %a.pull-left{:href => "/demo"} Demo
              %a.pull-right{:href => "/signout"} Signout
      %br
        = yield
      %footer
        %small
          %hr/
          #debug.text-center
            %p.text-danger The time is #{Time.now.strftime("%I:%M:%S %p")}.
            %p.text-danger Sinatra version #{Sinatra::VERSION}.